.counter {
  font-weight: bold;
}

.counter--green {
  composes: counter;
  color: rgb(25,200,25);
  background-color: red;
}

.duck {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
}

table.todo-list {
  background-color: red
}


