
.todo-widget {
  margin-top: 50px;
}

.todo-table td:nth-child(1) {
  width: 40px;
}

.todo-table td:nth-child(2) {
  width: 300px;
}

.todo-form form {
  margin-bottom: 20px;
}

.todo-items-left {
  margin-top: 40px;

}

.todo-filter {
  margin-top: 20px;
}

.todo-filter .selected {
}

.todo .delete-button-hidden {
  visibility: hidden;
}
