
.todo-widget {
  margin-top: 50px;
}

.todo-table td:nth-child(1) {
  width: 35px;
}

.todo-table td:nth-child(2) {
  width: 245px;
}

.todo-table td:nth-child(3) {
  width: 30px;
}

.todo-form form {
  margin-bottom: 20px;
}

.todo-form input.text-input {
  width: 275px;
}

.todo-items-left {
  margin-top: 40px;
}

.todo-filter {
  margin-top: 20px;
}

.todo .delete-button-hidden {
  visibility: hidden;
}
