
.todo-widget {
  margin-top: 50px;
}

.todo-table td:first-child {
  width: 40px;
}

.todo-table td:second-child {
  width: 300px;
}

.todo-form form {
  margin-bottom: 20px;
}

.todo-form input {
  min-width: 250px;
}

.todo-filter {
  margin-top: 40px;
}

.todo-filter .selected {

}
